---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
        相遇的人会再相遇
      </div>
      <div class="post-list-body">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;若，人生只如初见，多好。他们是他的旷世名主，她们做她的绝代佳人，江山美人，两不相侵。没有开始，就没有结束。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;但是，感情终于被时间晾干。在漫长无尽的时光中，我对你的思念，终于枯涸。曾经的殷殷艳艳，变做一点赤红，紧缩成我心口的朱砂痣，只有手指轻抚上去，它还残留一点温热的红。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;思念终于抵不住时间。我看那张曾经无比诚挚的脸。我的忧伤如线，突然从内心的最深处涌出来，千丝万缕，像那盘丝洞里天真的妖精，缚住了别人牵住了自己。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;可以，从你的身上看透生死，因你的生死获得重生的安宁。可是，我确认，不能与你相绝。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;坚信，一个人怀念另一个人的时候，应该是安静地念想。这种力量往往瞬间可抵达白发苍苍的彼岸。悼亡安庆不是比辞赋，不是把玩在手里的锦绣文章。因此潘岳没有元稹的耿切，没有苏轼的悲辛，没有容若的缠绵。

爱是生命里最绚烂的一场幻觉，天荼蘼，有时，走完天涯道路，也不愿醒来。

这样的柔和贞顺，在今人的身上，渐渐缺失了，我们越来越愿意相信自我的力量，以为可以改变很多事，到头来依然没入命运的漩涡；越来越爱做深刻的思考。却越来越远离纯真，不能与自然作最纯粹直接的交流。

爱是一种需要不断被人证明的虚妄，就像烟花需要被点燃才能看得到辉煌一样。</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;我们，生生世世说相思，犹未厌倦满足。是贪恋也好啊。因着人世无常，众生有情，我尚未为你红豆熬成缠绵的伤口，美景良辰未赏透，怎么能就此分手？
也许放弃，才能靠近你；不再见你，你才会把我记起。</p>
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          {% endfor %}
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Categories
      </div>
      
      <a href="javascript:;" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.categories | size}}</span>
      </a>
      {% for category in site.categories %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
